@import url(/css/font-awesome.min.css);
html, body, #fullheight {
  min-height: 100% !important;
  height: 100%;
  color:#75787b;
}
footer{
  color: white;
  background-color: #75787b;
  bottom: 0;
  position: fixed;
  width: 100vw;
  height: 80px;
  text-align: center;
  padding: 20px;
}
footer .fa {
  width: auto;
  color: white;
  font-size: 18px;
}
.home{
  background-image: url('/img/home.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.info{
  height: 30vh;
  align-content: center;
}
.info h3{
  text-align: center;
}
.title{
  font-size: 25px;
  color: white;
    margin: 6rem;
    font-family: 'Questrial', sans-serif;
    font-weight: bold;
}
.title::after {    
  background: none repeat scroll 0 0 transparent;
  content: "";
  display: block;
  height: 10px;
  position: absolute;
  background: #00bcb5;
  width: 45vw;
}
.menu li{
  list-style: none;
  display: inline-block; 
  margin: 7px 7px 0px 7px;
}
.link{
  background: none!important;
  border: none;
}
.brandlink{
  content: url(/img/logo.png);
}
.menu li a{
  text-decoration: none;
    font-family: 'Questrial', sans-serif;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    color: #75787b;
}
.menu li .active{
  color:#00bcb5;
}
.menu li .active .fa-user{
  color:#00bcb5;
  border-radius: 50%;
  border: 1px solid #00bcb5;
}
.menu li{
  transform: translateY(6px);
}
.brandlink:hover{
  text-decoration: none;
  color: #00bcb5;
}
.menu li a:hover{
  color: #00bcb5;
}
.navbar{
  background-color: white;
}
.content{
  display: block;
}
.box{
  background-color: white;
  color: black;
  margin-bottom: 100px;
  padding: 50px 50px 0 50px;
  overflow: hidden;
}
.fa-user{
  border: 1px solid #75787b;
  border-radius: 50%;
}
.menu li a:hover .fa-user{
  color: #00bcb5;
  border: 1px solid #00bcb5;
  border-radius: 50%;
}
.fa{
  color: #75787b;
  display: inline-block;
  height: 45px;
  line-height: 40px;
  margin: auto 3px;
  width: 45px;
  font-size: 32px;
  text-align: center;
}
.label-container{
	position:fixed;
	bottom:48px;
	right:105px;
	display:table;
	visibility: hidden;
}

.label-text{
	color:#FFF;
	background:rgba(51,51,51,0.5);
	display:table-cell;
	vertical-align:middle;
	padding:10px;
	border-radius:3px;
}

.label-arrow{
	display:table-cell;
	vertical-align:middle;
	color:#333;
	opacity:0.5;
}

.float{
  position: fixed;
  width: 100px;
  height: 100px;
  bottom: 190px;
  right: 40px;
  background-color: white;
  border: 2px solid #00bcb5;
  border-radius: 50px;
  text-align: center;
}

.my-float{
	font-size:24px;
	margin-top:18px;
}
.fa-comments{
  line-height: 90px;
    font-size: 45px;
}
.float:hover .fa{
  color: #00bcb5;
  }
  
  .spinner {
  margin: 75px auto 0;
  width: 100px;
  text-align: center;
  }
  
  .spinner > div {
  width: 30px;
  height: 30px;
  background-color: #333;
  
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  }
  
  .spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
  }
  
  .spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
  }
  
  @-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
  }
  
  @keyframes sk-bouncedelay {
  0%, 80%, 100% {
  -webkit-transform: scale(0);
  transform: scale(0);
  } 40% {
  -webkit-transform: scale(1.0);
  transform: scale(1.0);
  }
  }
  .pag {
    --active-index: 0;
    display: flex;
    padding: 10px 20px;
    background: white;
    border-radius: 15px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    list-style-type: none;
    width: fit-content;
    margin: auto;
  }
  .pag li {
    margin: 0 5px;
  }
  .pag li.page-number {
    width: 30px;
    height: 28px;
    line-height: 50px;
    text-align: center;

  }
  .pag li.page-number:hover a {
    color: white;
    background: #777;
  }
  .pag li.page-number.active a {
    color: white;
    background: #333;
  }
  .pag li.page-prev, .pag li.page-next {
    font-weight: 700;
  }
  .pag li.page-prev {
    margin-right: 20px;
  }
  .pag li.page-next {
    margin-left: 20px;
  }
  .pag li a,.pag li span {
    display: block;
    line-height: 30px;
    font-size: 12px;
    font-weight: 400;
    text-decoration: none;
    color: #777;
    border-radius: 50%;
    transition: 0.3s;
  }
  .pag .prev:hover a, .pag .next:hover a {
    color: black;
  }
  .pag .prev span, .pag .next span{
    display: none;
  }
  .midleft{
    float: left;
    padding-bottom: 80px;
  }
  .midright{
    float: right;
    padding-bottom: 80px;
  }
  .paginationCont{
    border: 1px solid rgba(0, 0, 0, 0.2);
    margin-bottom: 30px;
    padding: 15px;
    border-radius: 10px;
  }

  .hr-vertical{
    border-left:1px solid #d6d6d6;
    height: auto;
  }

.home-img-container {
  overflow: hidden;
}
/* resize images */
.home-img-container img {
  width: 100%;
}
.welcome-header{
  font-family: 'Poppins', sans-serif;
  text-align: left;
}

/*Tootltip*/

.tooltip-message{
  display: inline-block;
}

.tooltip-message .message{
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: relative;
  z-index: 1;
}

.tooltip-message:hover .message {
  visibility: visible;
}